.feed {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color: transparent
}

.postSection {

  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.mocking-no-post-container {
  position: relative;
  top: 100%;
  left: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
}

.mock-img {
  height: 120px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px white;
}

.no-postdiv {
  color: white;
  font-size: 30px;
  font-family: 'Sofia';
}

@media only screen and (max-width: 700px) {
  .feed {
    display: block !important;
    width: 100vw !important;

  }

  .postSection {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    margin-left: 0px !important;

  }

  .mocking-no-post-container {
    height: 55vh;
    position: relative;
    top: 10%;
    left: 0% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
  }

  .mock-img {
    height: 220px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px white;
  }

  .no-postdiv {
    color: white;
    font-size: 30px;
    font-family: 'Sofia';
  }


}