.share-middle-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.middle-title {
  font-family: cursive;
  color: gold;
}

.middle-content {
  height: 70px;
}

.middle-content h1 {
  font-size: 45px;
}

:where(.css-1s3dcof).ant-spin-spinning {
  color: gold;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 35px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: gold;
  }
}
