.list-of-user-modal-container-mobile {
    height: 400px;
    color: white;
    background-image: linear-gradient(to bottom right, rgb(218, 199, 213), #2e123bb4, #0c0202);
    box-shadow: 2px 2px 300px 2px white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 10px 5px black;
}



.middle-loum-mobile {
    overflow-y: scroll;
    height: 210px;
    width: 250px;
    box-shadow: 1px 1px 20px 5px rgb(0, 0, 0);
    border-radius: 10px;
}


.middle-loum-mobile::-webkit-scrollbar-thumb {
    display: none;
}

.middle-loum-mobile::-webkit-scrollbar-track {
    display: none;
}

.userlist-container-mobile {
    display: flex;
    gap: 120px;
    color: white;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}



.search-img-mobile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: white 2px solid;
    margin-bottom: 40px;
    position: relative;
    top: 10px;
    left: 20px;
    box-shadow: 2px 2px 10px 10px rgb(180, 27, 116);
}

.username-userlist-mobile {
    position: relative;
    bottom: 13px;
    font-size: 15px;
    font-family: "Sofia";

}