.footer {
    height: 80px !important;
    background-image: linear-gradient(to bottom right, rgb(78, 67, 10), black, rgb(0, 0, 0)) !important;
    color: white !important;
    border-top: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    z-index: 999;
    font-family: cursive;

}

.left-footer {
    font-size: 25px;
    display: flex;
    gap: 40px;

}

.right-footer {
    font-size: 25px;
    display: flex;
    gap: 40px;


}

.middle-footer {
    font-size: 50px;
    position: relative;
    bottom: 40px;
}

.tobehighligthed {
    border-radius: 50px;
}

.drawer-logout-button {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: red;
    box-shadow: 1px 1px 10px 1px red;
    border-radius: 50px;

}

.close-create-post-drawer {
    width: 87vw !important;
    border: 1px dashed goldenrod;
    position: absolute;
    bottom: 0px;
    background-image: linear-gradient(to bottom right, rgb(94, 82, 24), black, rgb(43, 37, 9)) !important;
    color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.close-button-create-post-drawer {

    font-size: 25px;
    border-radius: 50px;
    font-family: 'Sofia';

}