.footer {
    height: 80px !important;
    background-image: linear-gradient(to bottom right, rgb(158, 23, 158), #411022, #530d22) !important;
    color: white !important;
    box-shadow: 12px 12px 40px 10px white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    z-index: 999;
    font-family: cursive;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.left-footer {
    font-size: 30px;

}

.right-footer {
    font-size: 30px;


}

.middle-footer {
    font-size: 50px;
    position: relative;
    bottom: 30px;
}

.tobehighligthed {
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 15px 5px gold;
}

.drawer-logout-button {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: black;
    box-shadow: 2px 2px 10px 4px rgb(255, 0, 0);
    border-radius: 50px;

}

.close-create-post-drawer {
    border: 2px solid;
    font-size: 45px;
    position: absolute;
    border: 4px dashed black;
    top: 600px;
    left: 170px;
    box-shadow: 2px 2px 15px 10px rgb(151, 3, 3) !important;
}